* {
  background-color: lightblue;

}

.Name {
  text-align:center;
  font-size: 50px;
  font-weight: bolder;
  text-decoration: underline;
  color: black;
}
.fn{
  text-align: center;
  font-size: 35px;
}
.formula{
  text-align: center;
  font-size: 45px;

}
